service: poetry-bot

frameworkVersion: "3"

provider:
  name: aws
  runtime: python3.8
  environment:
    CONSUMER_KEY: M9JXZeeJQimsbV4QymCEnTm64
    CONSUMER_KEY_SECRET: ${file(./secret.json):consumer_secret}
    ACCESS_TOKEN: ${file(./secret.json):access_token}
    ACCESS_TOKEN_SECRET: ${file(./secret.json):access_token_secret}

functions:
  cron:
    handler: handler.run
    events:
      # Invoke Lambda function every minute
      - schedule: rate(1 minute)
